<div fxLayout="column" fxLayoutAlign="center center" class="formDecoration fixOverlap">

    <div fxLayout="column" fxLayoutAlign="center center" class="content-wrapper">

        <div>
            <p fxFill class="loginHeaderTop">Choose photo file to upload:</p>
        </div>

        <div>
            <p fxFill class="additional-info">(Optional custom name)</p>
        </div>

        <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px"
        #f="ngForm" (ngSubmit)="onSubmit(f)">
      
            <mat-form-field appearance="outline">
                <mat-label>Custom name: </mat-label>
                <input type="text" ngModel matInput placeholder="Title" name="fileName">
            </mat-form-field>
    
            <input type="file" accept="image/*" class="file-input" #fileUpload name="file" required (change)="onFileSelected($event)"/>
    
            <div class="file-upload">
    
                {{ fileName || "No photo file chosen yet." }}
                
                <button type="button" mat-mini-fab color="primary" (click)="fileUpload.click()">
                    <mat-icon>attach_file</mat-icon>
                </button>
                <br/>
            </div>
    
            <div>
                {{ fileMissing || "" }}
            </div>
    
      
            <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Upload photo</button>
        </form>

    </div>

</div>