<div fxLayout="column wrap" fxLayoutGap="2em" fxLayoutAlign="center center" style="margin-top: 2em;">
  <div fxFlex fxLayout="column nowrap" fxLayoutAlign="center center">
    <div fxLayout="column nowrap" fxLayoutAlign="center center">
      <span id="smh">¯\(ツ)/¯</span>
    </div>
    <h1>
      HTTP Status code 404
    </h1> 
    <h2>
      Page not found
    </h2>
    <div>
      <p style="color: #666666;">...did you type that right?</p>
    </div>
  </div>
  <div>
    <p>You can go back to the <a routerLink="/welcome">home page</a>.</p>
  </div>
</div>