.example-card {
    max-width: 400px;
    max-height: 500px;
    margin: 5px;
}

.photo-header-image {
    background-image: url("../../../assets/img/photo/photo-avatar-2.png");
    background-size: cover;
}

.cardActionsButton {
    margin: 0 !important;
}

mat-card-header {
    max-width: 280px;
}

mat-card-subtitle{
    max-width: 280px;
}

mat-card-title{
    color:rgb(0, 55, 128);
}

mat-card-content {
    min-width: 400px;
    min-height: 250px;
    width: 400px;
    height: 250px;
    overflow: hidden;
    border-radius: 0.5em;
}

mat-card-content > img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 0.5em;
}

.dont-break-out {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.ellipses {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.truncate {
    width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}