<div fxFlex fxLayout="column nowrap" fxLayoutAlign="start center" class="formDecoration fixOverlap">
    <div fxLayout="row nowrap" fxLayoutAlign="center center" fxLayoutGap="10px">
        <!-- search and sort -->
        <mat-form-field color="primary" fxFlexAlign="center" appearance="outline">
            <mat-label>Search your photos</mat-label>
            <input
              type="text"
              ngModel
              matInput
              placeholder="Search your photos..."
              name="search"
              search
              #searchInput="ngModel"
              [(ngModel)]="searchValue"
              (keyup)="searchPhotos()"
            />
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>

    <div *ngIf="displayedData.length > 0" fxLayout="column" fxLayoutAlign="center center">
        <pagination-controls (pageChange)="p = $event" class="my-pagination" style="padding: 1em;"></pagination-controls>
    </div>

    <div fxFlex fxLayout="row wrap" fxLayoutAlign="center start">
        <div *ngIf="displayedData.length == 0">
            <p>No photos found!</p>
        </div>
        <mat-card class="example-card box" *ngFor="let photo of displayedData | paginate: { itemsPerPage: 12, currentPage: p }" fxFlex fxLayout="column wrap" fxLayoutAlign="center center">
            <mat-card-header>
                <div mat-card-avatar class="photo-header-image"></div>
                <mat-card-title class="dont-break-out truncate">{{ photo.fileName }}</mat-card-title>
                <mat-card-subtitle>
                    {{ photo.fileType }} , {{ bytesToSize(photo.fileSize) || "" }}
                </mat-card-subtitle>
            </mat-card-header>
        
            <mat-card-content fxFlex fxLayout="column wrap" fxLayoutAlign="center center">
                <img mat-card-image 
                src="{{showPhoto(photo.fileName)}}" 
                alt="{{photo.fileName}}" class="matCardImage" >
            </mat-card-content>
        
            <mat-card-actions fxFill fxLayout="row" fxLayoutAlign="space-between center">
                <button class="cardActionsButton" fxFlex="49%" mat-raised-button color="primary" (click)="downloadPhoto(photo.fileName)">
                    Download
                </button>
                
                <button class="cardActionsButton" fxFlex="49%" mat-raised-button color="warn" (click)="deletePhoto( photo.fileName )">
                    Delete
                </button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div *ngIf="displayedData.length > 0" fxLayout="column" fxLayoutAlign="center center" >
        <pagination-controls (pageChange)="p = $event" class="my-pagination" style="padding: 2.5em;"></pagination-controls>
    </div>
</div>