.example-card {
    max-width: 400px;
    max-height: 500px;
    margin: 5px;
    overflow: hidden;
}

.photo-header-image {
    background-image: url("../../../assets/img/photo/photo-avatar-2.png");
    background-size: cover;
}

.cardActionsButton {
    margin: 0 !important;
}

mat-card-header {
    max-width: 280px;
}

mat-card-subtitle{
    max-width: 280px;
}

mat-card-title{
    color:rgb(0, 55, 128);
}

mat-card-content {
    min-width: 400px;
    min-height: 250px;
    width: 400px;
    height: 250px;
    overflow: hidden;
    border-radius: 0.5em;
}

mat-card-content > img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 0.5em;
}

.formDecoration {
    /* border: 1px solid #ccc!important; */
    /* border: 1px solid rgba(204,204,204,0.6);
    border-radius: 16px; */
    padding: 18px;
}

.fixOverlap {
    margin-bottom: 2em;
}

.dont-break-out {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.ellipses {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.truncate {
    width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box {
    position: relative;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
.box::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
  
.box:hover {
    border: 1px solid #c2c2c2;
    box-shadow: 1px 1px 14px #c2c2c2;
    -webkit-transform: scale(1.03, 1.03);
    transform: scale(1.03, 1.03);
}
  
.box:hover::after {
    opacity: 1;
}

.my-pagination ::ng-deep .ngx-pagination {
    padding: 0;
}