mat-form-field {
    width: 20em;
}

.loginHeaderTop {
    font-weight: bold;
    font-size: 1em;
    text-align: start;
}

.marginTop {
    margin-top: 2em;
}

.marginTopFormElements {
    margin-top: 1em;
}

.formDecoration {
    /* border: 1px solid #ccc!important; */
    border: 1px solid rgba(204,204,204,0.6);
    border-radius: 16px;
    padding: 18px;
}

.fixOverlap {
    margin-bottom: 2em;
}