<div fxLayout="column" fxLayoutAlign="center center" class="marginTop">
    <div fxLayout="row wrap" fxLayoutAlign="center center">

        <!-- search and sort -->
        <mat-form-field color="primary" appearance="outline">
            <mat-label>Search your notes</mat-label>
            <input
              type="text"
              ngModel
              matInput
              placeholder="Search your notes..."
              name="search"
              search
              #searchInput="ngModel"
              [(ngModel)]="searchValue"
              (keyup)="searchNotes()"
            />
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>

    <div *ngIf="displayedData.length > 0" fxLayout="column" fxLayoutAlign="center center">
        <pagination-controls (pageChange)="p = $event" class="my-pagination" style="padding: 1em;"></pagination-controls>
    </div>

    <div fxFlex fxLayout="row wrap" fxLayoutAlign="center center">
        <div *ngIf="displayedData.length == 0">
            <p>No notes found!</p>
        </div>
        <mat-card class="note-card" *ngFor="let note of displayedData | paginate: { itemsPerPage: 12, currentPage: p }" fxFlex fxLayout="column nowrap" fxLayoutAlign="center center">
            <mat-card-header>
                <div mat-card-avatar class="note-header-image"></div>
                <mat-card-title class="dont-break-out truncate">{{ note.title }}</mat-card-title>
                <mat-card-subtitle class="dont-break-out truncate">
                    {{ note.tags }}
                </mat-card-subtitle>
                <mat-card-subtitle *ngIf="note.tags[0].length == 0">
                    No tags set...
                </mat-card-subtitle>
            </mat-card-header>
        
            <mat-card-content fxFlex>
                <p>
                    {{ note.content }}
                </p>
            </mat-card-content>
        
            <mat-card-actions fxFill fxLayout="row" fxLayoutAlign="space-between center">
                <button class="cardActionsButton" fxFlex="49%" mat-raised-button color="accent" (click)="editNoteRedirect(note.id)">
                    Edit
                </button>
        
                <button class="cardActionsButton" fxFlex="49%" mat-raised-button color="warn"
                        (click)="deleteNote( note.id )">
                    Delete
                </button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div *ngIf="displayedData.length > 0" fxLayout="column" fxLayoutAlign="center center" >
        <pagination-controls (pageChange)="p = $event" class="my-pagination" style="padding: 2.5em;"></pagination-controls>
    </div>

</div>