<div>

<div class="welcome-image">
  <div class="welcome-text">
    <h1 style="font-size:3em">File Storage Service</h1>
    <h3>Professional, contemporary, secure</h3>
    <div fxLayoutAlign="center center" fxLayoutGap="1em">
        <button type="button" mat-raised-button color="primary" routerLink="/login">Login</button>
        <button type="button" mat-raised-button color="accent" routerLink="/signup">Sign up</button>
    </div>
  </div>
</div>

<div class="welcome-content" fxLayout="column nowrap" fxLayoutAlign="center center" fxLayoutGap="2em" style="width: 100%;">
    <!-- MAIN WELCOME CONTENT - MIDDLE -->
    <div fxFlex fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="50%" fxLayout="column" fxLayoutAlign="start center" fxFill class="textInTheMiddle paddingAllAround">
        <h2>Spring Boot Backend</h2>
        <p>Powered by the Java Spring Boot Technology and MongoDB as a database of choice for securely storing and swiftly retrieving your data.</p>
        <p>
          Not sure if the service is for you? No problem. You may register your account and join us for free! Try out the features and decide whether you like it or not.
        </p>
        <button mat-raised-button color="accent" type="button" routerLink="/signup">Sign up now</button>
      </div>
      <div fxFlex="50%" fxLayoutAlign="center center" class="paddingAllAround">
        <div fxLayoutAlign="center center" class="imagesInTheMiddle">
          <img src="../../assets/img/welcome-img-1.jpg" alt="img" fxFill>
        </div>
      </div>
    </div>


    <div fxFlex fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="50%" fxLayoutAlign="center center" class="paddingAllAround">
        <div fxLayoutAlign="center center" class="imagesInTheMiddle">
          <img src="../../assets/img/welcome-img-2bk.png" alt="img" fxFill>
        </div>
      </div>
      <div fxFlex="50%" fxLayout="column" fxLayoutAlign="start center" fxFill class="textInTheMiddle paddingAllAround">
        <h2>Expedited availability</h2>
        <p>Share your valuable files and data with your colleagues in an instant! Wherever you are, thanks to the swift nature of non relational database storage, your files will be available for viewing, sharing and editing in no time!</p>
        <p>
          If you register now, you will be able to create your own bussines file storage service! 
        </p>
        <button mat-raised-button color="accent" type="button" routerLink="/signup">Sign up now</button>
      </div>
    </div>


    <div fxFlex fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="50%" fxLayout="column" fxLayoutAlign="start center" fxFill class="textInTheMiddle paddingAllAround">
        <h2>Expedited availability</h2>
        <p>Share your valuable files and data with your colleagues in an instant! Wherever you are, thanks to the swift nature of non relational database storage, your files will be available for viewing, sharing and editing in no time!</p>
        <p>
          If you register now, you will be able to create your own bussines file storage service! 
        </p>
        <button mat-raised-button color="accent" type="button" routerLink="/signup">Sign up now</button>
      </div>
      <div fxFlex="50%" fxLayoutAlign="center center" class="paddingAllAround">
        <div fxLayoutAlign="center center" class="imagesInTheMiddle">
          <img src="../../assets/img/welcome-img-3.jpg" alt="img" fxFill>
        </div>
      </div>
    </div>

</div>


</div>