.file-input {
    display: none;
}

.loginHeaderTop {
    font-weight: bold;
    font-size: 1em;
    text-align: start;
}

.formDecoration {
    /* border: 1px solid #ccc!important; */
    /* border: 1px solid rgba(204,204,204,0.6);
    border-radius: 16px; */
    padding: 18px;
}

.content-wrapper {
    border: 1px solid rgba(204,204,204,0.6);
    border-radius: 16px;
    padding: 3em;
    margin-top: 3em;
}

.fixOverlap {
    margin-bottom: 2em;
}